.stu-top {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-top: 20px;
	display: flex;
}

.stu-title {
	flex: 2;
}

.stu-search {
	flex: 1;
}

.stu-alert{
	margin-right: 10px;
}

.stu-total {
	width: 90%;
	margin: 0 auto;
	text-align: right;
	font-family: "微软雅黑";
	font-size: 20px;
}

.pageNav {
	margin-left: 380px;
}

.modal-body div{
	margin-left:20%;
	margin-top: 10px;
}

.modal-body div label {
	margin-left:100px;
	margin-right: 10px;
}